a {
    color: white;
    text-decoration: none;
}

h4~li {
    margin-top: 0.6rem;
}

.jumbotron {
    background-image: url("./assets/pattern-obj.PNG");
    background-position: top;
    background-repeat: repeat;
}