/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

a {
    color: white;
    text-decoration: none;
}

h4~li {
    margin-top: 0.6rem;
}

/* UTILS */

/* JUMBO */

.jumbotron {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9)), url("./assets/pattern-obj.PNG");
    background-position: top;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.3) !important;
}

/* CARD */
.card {
    background-color: #e7e3da;
}

.img-container {
    height: 350px;
    background-image: url("https://t3.ftcdn.net/jpg/02/36/23/66/360_F_236236696_mTYBnVvXVykDspnSwLdzo16jqjdVLdXy.jpg");

    .card-img-top {
        height: 100%;
        object-fit: contain;
    }
}

/* FOOTER */

footer {
    .card {
        border: none;

        .card-img-top {
            border-radius: 20%;
            height: 200px;
            border: 1px solid white;
            width: auto;
        }
    }
}