/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

a {
    color: white;
    text-decoration: none;
}

h4~li {
    margin-top: 0.6rem;
}

/* JUMBO */

.jumbotron {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), url("./assets/pattern-obj.PNG");
    background-position: top;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.3) !important;
}