/* RESET */

* {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

a {
    color: white;
    text-decoration: none;
}

h4~li {
    margin-top: 0.6rem;
}

/* UTILS */

.logo {
    height: 50px !important;
    width: 190px !important;
}

.logo-footer {
    height: 70px !important;
    width: 280px !important;
}

.form-control {
    border: 2px solid black;
}

.bg-first {
    background-color: rgb(30, 28, 28);
}

.text-first {
    color: rgb(30, 28, 28);
}

.bg-second {
    background-color: #f0f1f1;
}

.bg-third {
    background-color: #c9cacb;
}

.text-third {
    color: #c9cacb;
}

.rotate {
    transform: rotate(20deg);
    display: inline-block;
}

.rounded-card {
    border-radius: 50px !important;
    overflow: hidden;
}

.RobotoCondensed {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 900;
}

.edu-tas-beginner {
    font-family: "Edu TAS Beginner", cursive;
    font-weight: 500;
}


.comic-neue-bold {
    font-family: "Comic Neue", cursive;
    font-weight: 800;
    font-style: normal;
}

.comic-neue-regular {
    font-family: "Comic Neue", cursive;
    font-weight: 600;
    font-style: normal;
}

.momo-signature-regular {
    font-family: "Momo Signature", cursive;
    font-weight: 400;
    font-style: normal;
}

.league-gothic {
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
}

/* JUMBO */

.jumbotron {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9)), url("./assets/pattern-obj.PNG");
    background-position: top;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.3) !important;
    letter-spacing: 0.3rem;
    word-spacing: 0.4rem;
}

/* BANNER */

.banner {
    color: white;
    background-image: url("https://i.redd.it/b10brark3g031.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 400px;

    h1 {
        padding-top: 70px;
        font-size: 50px !important;
    }
}

/* CARD */
.card {
    background-color: #e7e3da;
}

.img-container {
    height: 350px;
    background-image: url("https://t3.ftcdn.net/jpg/02/36/23/66/360_F_236236696_mTYBnVvXVykDspnSwLdzo16jqjdVLdXy.jpg");

    .card-img-top {
        height: 100%;
        object-fit: contain;
    }


}

.position-absolute {
    bottom: 5px;
    left: 5px;
    border: 1px solid lightgray;
}

/* FOOTER */

footer {
    img {
        border-radius: 20%;
        height: 200px;
        /* width: auto; */
    }
}